.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #5aa388;
	color: #fff;
	padding: 20px 250px;
	font-size: 20px;
	font-weight: 600;
}

@media (max-width: 500px) {
	.navbar {
		padding: 20px 50px;
	}
}

.logo,
.nav_price {
	cursor: pointer;
}

.logo_span {
	color: green;
}

.nav_price {
	display: flex;
	align-items: center;
	gap: 5px;
}
